nav {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
}

.navbar {
  text-transform: uppercase;
  margin: 0px;
  padding: 20px;
}

#profilepicture {
  width: 140px;
  height: 140px;
  margin: 50px;
  position: relative;
  bottom: 250px;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  border-radius: 50%;
}

#profilepicture img {
  width: auto;
}

#bannerbackground {
  background-size: cover;
  width: 100%;
  height: auto;
}

h3 {
  color: black;
  font-weight: bolder;
  padding: 50px;
  margin: 50px;
  font-family: "Times New Roman", "Times", "serif";
  font-weight: bold;
  text-align: center;
}

.text {
  padding: 15px;
  margin: 0px;
}

.shadow {
  box-shadow: 10px 10px gray;
}

span {
  font-family: "Times New Roman", "Times", "serif";
}

p {
  font-family: "Times New Roman", "Times", "serif";
}

form {
  font-family: "Times New Roman", "Times", "serif";
}

a {
  color: yellow;
}

#email {
  border-radius: 50px;
  margin-left: 10px;
  width: 90%;
}

#name {
  border-radius: 50px;
  margin-left: 10px;
  width: 90%;
}

footer {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

footer .fab {
  color: black;
}

footer .fa-linkedin-in:hover {
  color: #3b5998;
}

footer .fa-instagram:hover {
  color: rgb(131, 58, 180);
}

footer .fa-facebook:hover {
  color: #0077b5;
}

.fab {
  padding: 10px;
}

.titlehead {
  font-weight: bold;
  color: white;
}

.titlehead2 {
  font-weight: bold;
  color: black;
}

.divcolour {
  background-color: black;
}

.link {
  color: grey;
  text-decoration: none;
}

.link:hover {
  color: gold;
}

.form-label {
  padding: 20px;
}

#comment {
  height: 100px;
  margin: 0px;
  width: 100%;
  padding: 20px;
}

.btn {
  margin: 20px;
}

.btn-dark:hover {
  color: gold;
}

a.navbar-brand {
  font-size: 16px;
}

@media screen and (min-width: 1024px) {
  #bannerbackground {
    background-size: cover;
    width: 200%;
    height: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  #bannerbackground {
    background-size: cover;
    width: 200%;
    height: auto;
  }
}

@media screen and (max-width: 767px) {
  #profilepicture {
    width: 92px;
    height: 92px;

    position: relative;
    bottom: 150px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 50%;
  }
}
