nav
{
    margin:0;
    padding:0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-weight: bold;
    
    
}

.navbar{text-transform: uppercase; margin:0px;
    padding:20px;}

#profilepicture {width: 170px; 
    height: 170px; 
    margin: 50px; 
    position: absolute; top: 120px; 
    border-style:solid;
    border-color:black;
    border-width: 3px;
    border-radius: 50%;
}

h3  {color: black;
    font-weight:bolder ;
    padding:50px;
    margin: 50px;0px;
   : font-family:'Times New Roman', Times, serif
; font-style:bold; text-align:center; }

.text {padding: 15px; margin: 0px;}

.shadow {box-shadow: 
}

p span {font-family: 'Times New Roman', Times, serif;}

a {color: yellow;}

#inputEmail4 {border-radius: 50px; margin-left: 10px; width: 90%;}

#Name {border-radius: 50px; margin-left: 10px; width: 90%;}

footer {text-align: center; padding-bottom: 50px; padding-top: 50px ;}

footer .fab {color: black;}

footer .fa-linkedin-in:hover  {color:#3b5998;}

footer .fa-instagram:hover {color:rgb(131, 58, 180)}

footer .fa-facebook:hover {color:#0077b5;}

.fab {padding: 10px;}

.titlehead {font-weight:bold;  color:white ; }

.titlehead2 {font-weight:bold;  color:black; }

.divcolour {background-color: black;}

.link {color:grey; text-decoration: none;}

.link:hover {color:gold;}

.formimg {background-image: url(images/form.jpg);}

.form-label {padding: 20px;}

#floatingTextarea2 {height: 100px; margin: 5px; width: 95%; padding: 20px;} 

.btn {margin: 20px;}

.btn-dark:hover {color:gold;}